
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);


.test-completion {
  display: none;
  z-index: 1000;
  position: fixed;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2em 10px;
  text-align: center;
  background-color: #fff;
  -webkit-animation: slideIn 0.33s cubic-bezier(0.37, 0.82, 0.2, 1);
  animation: slideIn 0.33s cubic-bezier(0.37, 0.82, 0.2, 1);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.test-completion .trophy {
  width: 100px;
  height: auto;
  margin-bottom: 24px;
}
.test-completion .title {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #1a1a1a;
  font-size: 1.5rem;
  margin-bottom: 22px;
}
.test-completion .score {
  display: block;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #0288d1;
  letter-spacing: 1px;
}

.test-completion p {
  font-family: "Source Sans Pro", sans-serif;
  color: #999999;
  font-size: 15px;
  padding: 0 15%;
  line-height: 24px;
}

@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}
.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
}
